@import url(http://fonts.googleapis.com/css?family=Nixie+One|Cousine:400,700);

.container{
	width: 250px;
	height: 250px;
	margin: 0 auto;
	padding-bottom: 30px;
}

.container .rectangle{
	margin: 0 -2 0 -2;
	display: inline-block;
	vertical-align: top;
	width: 127px;
	height: 127px;
	border: 0px;
}

.container .rectangle h1{
	color: white;
	text-align: center;
	font-family: 'Nixie One';
	font-weight: 700;
	font-style: bold;
	font-size: 7.5em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	vertical-align: middle;
	line-height: 127px;
}

.container .rectangle p{
	display: inline;
	text-align: left;
	vertical-align: top;
	color: white;
}

.container .rectangle h2{
	display: inline;
	vertical-align: top;
	color: white;
}

.container .rectangle img{
	display: inline;
	height: 100px;
	text-align: left;
}

.table {
	display: flex;
	display: -webkit-box;
	display: -moz-box-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	list-style: none;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	max-width: 350px;
	padding: 0px;
	justify-content: space-around;
}

.table li{
	padding: 10px;
	margin: auto;
	text-align: center;
}

.table li img{
	border-radius: 20px;
	width: 150px;
	height: 150px;
}

.green {
	background: rgb(39, 174, 96);
}

.purple {
	background: rgb(52, 152, 219);
}

.blue {
	background: rgb(155, 89, 182);
}

.orange {
	background: rgb(230, 126, 34);
}

#shadowbox {
	left: 0px;
	top: 0px;
	position: fixed;
	background-color: rgba(0, 0, 0, .75);
	display: none;
	width: 100%;
	height: 100%;
}

.slideshow {
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
}

.slideshow img {
	display: block;
	/*margin-left: auto;*/
	margin-right: auto;
	margin-left: auto;
	margin-top: 5%;
	text-align: center;
	max-width: 100%;
	position: relative;
}